* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

span {
  font-weight: 300;
}

$text: 10;
@while $text < 20 {
  .text-#{$text} {
    font-size: #{$text}px !important;
  }
  $text: $text + 1;
}

$weight: 100;
@while $weight < 1000 {
  .weight-#{$weight} {
    font-weight: #{$weight} !important;
  }
  $weight: $weight + 100;
}

$percent: 10;
@while $percent <= 100 {
  .w-#{$percent} {
    width: #{$percent}#{'%'} !important;
  }
  $percent: $percent + 10;
}

.bg-white {
  background-color: white !important;
}

.expense {
  &-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    background-size: cover;
    &-form {
      width: 380px;
      margin: 0 15px;
    }
  }
  &-footer {
    letter-spacing: 1px;
  }
  &-overflow-scroll {
    overflow: scroll;
    &-x {
      overflow-x: scroll;
    }
    &-y {
      overflow-y: scroll;
    }
  }
}

.modal-body input.form-control,
.modal-body input.form-control::placeholder,
.modal-body select {
  font-size: 13px !important;
}

.nav-link {
  text-transform: capitalize;
  font-weight: 600 !important;
}

.nav-link.active {
  color: #5e72e4 !important;
  font-weight: 700 !important;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
  &:hover {
    background: #555;
  }
}

.Toastify__toast {
  padding: 8px 13px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.Toastify__toast--dark {
  background: #172b4d;
}

.Toastify__toast--default {
  background: #f4f5f7;
}

.Toastify__toast--info {
  background: #11cdef;
}

.Toastify__toast--success {
  background: #2dce89;
}

.Toastify__toast--warning {
  background: #fb6340;
}

.Toastify__toast--error {
  background: #f5365c;
}

.Toastify__progress-bar{
  height: 2px;
}